<div class="rr-container">
  <div class="rr-page-header">
    <LinkTo @route="index" class="rr-header-link">
      <h1 class="rr-app-title">
        Rock & Roll
        <small class="rr-subtitle">
          with Ember.js
        </small>
      </h1>
    </LinkTo>
    {{#if this.session.isAuthenticated}}
      <div class="rr-user-panel">
        <span data-test-rr="user-email">
          {{this.session.data.authenticated.userEmail}}
        </span>
      </div>
    {{/if}}
  </div>
  <div class="rr-main-content">
    {{outlet}}
  </div>
</div>
