<div class="rr-sidebar">
  <ul class="rr-list">
    {{#each this.model as |band|}}
      <li class="rr-list-item">
        <LinkTo
          @route="bands.band.songs"
          @model={{band.slug}}
          class="rr-band-link"
        >
          {{band.name}}
          <span class="rr-pointer">
            {{fa-icon "angle-right"}}
          </span>
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</div>
<div class="rr-main-panel">
  {{outlet}}
</div>
